@model Animal

@{
    // Gives title to the webpage on the Layout page 
    ViewData["Title"] = "Create Animal";
}
<h2> Create a new Animal to add to the collection:  </h2>

<form method="post">
    <label asp-for="Classification">Classification: </label>
    <input asp-for="Classification" />
    <span asp-validation-for="Classification"></span>


    <label asp-for="Species">Species: </label>
    <input asp-for="Species"/>
    <span asp-validation-for="Species"></span>

    <label asp-for="Location">Location: </label>
    <input asp-for="Location" />
    <span asp-validation-for="Location"></span>

    <label asp-for="Endangered">Endangered: </label>
    <input asp-for="Endangered" />
    <span asp-validation-for="Endangered"></span>


    <input type="submit" value="Add to Collection"/>
</form>